.btn-custom {
    background-color:#682ee4;
    color:white;
}

.bg-custom {
    background-color:#eeeef4;
}

.check-custom:checked {
    background-color:#682ee4;
}

.pill-custom {
    background-color:#eeeef4;
    color:grey;
}